<body style="text-align:center">

        <div style="width:80%" >
                <div class="modal-header">
                    
                    <h3>Compose Email</h3>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="text" placeholder="To" style="width:95%;"><br />
                        <input type="text" placeholder="Subject" style="width:95%;"><br />
                        <textarea style="width:95%;" rows="10"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <a [routerLink]="['/admin']"  class="btn">Close</a>
                    <a  class="btn btn-primary">Send</a>
                </div>
            </div>

</body>